.header {
	background-color: var(--clr-primary-100);
	padding: 1.5em var(--container-padding);
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);

	&__logo {
		font-size: 1.65rem;

		@include mq(medium) {
			font-size: 1rem;
		}
	}

	&__toggle {
		display: inline-flex;
		align-items: center;
		gap: 0.5em;
		background: none;
		border: 0;
		color: var(--clr-neutral-100);
		font-weight: var(--fw-medium);
		cursor: pointer;
		@include mq(medium) {
			font-size: 0.85rem;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
